<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Airports Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/public/app.css">
</head>

<body>

    <h1 class="centering"><span id="h1-symbol">&#10073;&nbsp;</span>
        <a href="/airports">Airports Database Center</a>
    </h1>

    <form name="searchform" action="/delete" method="get">
        Delete with:
        <select name="choice">
            <option value="Country">Country</option>
            <option value="Direct Flights">Direct Flights</option>
            <option value="Carriers">Carriers</option>
            <option value="No longer in use">No longer in use</option>
        </select>
        Match:
        <input type="text" name="term" placeholder="Keyword">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>


    <form action="/deleteAll" method="delete">
        <button type="submit" class="btn btn-danger"
            onclick="confirm('Are you sure you want to remove all databases?')">Remove all Database Center</button>
    </form>

    <h1 class="centering"><span id="h1-symbol">&#10073;&nbsp;</span>Delete Results: </h1>




    <div id="status-label" class="labels">
        Status: <span id="status" class="gap-2">
            <%= (data.length)%> results left
        </span>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <script src="/public/main.js"></script>
</body>

</html>